chartRegularView{
    
    display: block;
}
.shadow{
  border: 1px solid #333333;
  padding: 20px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  background-color: white;
  border: none;
  border-radius: 4px;
 // padding-top: 1px;
  margin-top: 20px;
}

.section{
  background-color:#ede9e9;
  border: 1px solid #d0cccc;
  border-radius: 4px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}