<div class="wrapper">
  <div class="info">
    <!--<div>-->
    <img class="img" [src]='product.img'>
    <!--</div>-->
    <h5 class="title">{{product.name}}</h5>
    <p class="price"><span>{{product.price + " ש\"ח"}}</span></p>
    <hr>
    <div class="details row">
      <div class="col-8-sm view-details-wrapper">
        <button type="button" class="view" (click)='productClicked(product.id)'>פרטים</button>
      </div>
      <div class="col-4-sm add-cart-wrapper">
        <button type="button" class="cart" (click)="addToCart(product.id)">
          <svg aria-hidden="true" data-prefix="fas" data-icon="shopping-cart"
               class="svg-inline--fa fa-shopping-cart fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 576 512">
            <path fill="currentColor"
                  d="M528.12 301.319l47.273-208C578.806 78.301 567.391 64 551.99 64H159.208l-9.166-44.81C147.758 8.021 137.93 0 126.529 0H24C10.745 0 0 10.745 0 24v16c0 13.255 10.745 24 24 24h69.883l70.248 343.435C147.325 417.1 136 435.222 136 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-15.674-6.447-29.835-16.824-40h209.647C430.447 426.165 424 440.326 424 456c0 30.928 25.072 56 56 56s56-25.072 56-56c0-22.172-12.888-41.332-31.579-50.405l5.517-24.276c3.413-15.018-8.002-29.319-23.403-29.319H218.117l-6.545-32h293.145c11.206 0 20.92-7.754 23.403-18.681z"></path>
          </svg>
        </button>
      </div>
    </div>
    <!--<div class="not-available" *ngIf='!product.count'>-->
    <!--<hr>-->
    <!--<p>לא זמין</p>-->
    <!--</div>-->
    <!--span class="category-name" *ngFor='let category of product.categories'>{{category}}</span-->
    <div class="detail-view" [class.active]='detailViewActive'>
      <div class="bg" [class.shown]='detailViewActive'></div>
      <div class="info-wrapper">
        <p class="d-holder d-title">{{product.name}}</p>
        <p class="d-holder d-price">{{product.price + " ש\"ח"}}</p>
        <p class="d-holder d-description">{{product.description}}</p>
      </div>
      <button type="button" class="hide-detail-btn" (click)='productClicked()'>לחץ לסגירה</button>
    </div>
  </div>
</div>
