<ng-container *ngIf="false" ; else noOrder>
  <!-- <ng-container *ngIf="order$ | async as orders"> -->
  <ng-container *ngIf="orders.length > 0; else noOrder">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>לקוח</th>
          <th>תאריך</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.user.username}}</td>
          <td>{{order.datePlaced}}</td>
          <!-- <td>{{order.datePlaced | date}}</td> -->
          <td><a>צפה</a></td>
          <!-- <td><a [routerLink]="['/orderdetails', order.$key]">View</a></td> -->
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #noOrder>אין הזמנות</ng-template>
</ng-container>