@import "../../../shared/mixins";

.wrapper {
  display: block;
  height: 35px;
  background: none;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  vertical-align: baseline;

  label {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 10px;
  }

  select {
    color: #5D4EF0;
    background: none;
    border: none;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border: #5D4EF0 1px solid;
    height: 28px;
  }
}

/** Media queries **/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .wrapper {
    label {
      color: white;
    }

    select {
      color: white;
    }

  }

}
