<div class="container col-xl-5 col-lg-7 col-md-8">
  <div class="py-5 my-4 p-5 shadow">
    <div *ngIf="customer">
      <form>
        <h1 class="h3 mb-3 font-weight-normal">הזן פרטי לקוח</h1>

        <div class="row">
          <div class="col-md-6  col-12">
            <input type="text" id="inputFirstName" class="form-control form-group" name="inputFirstName" placeholder="שם פרטי"
              title="שם פרטי" [(ngModel)]="customer.firstName" required>
          </div>
          <div class="col-md-6  col-12">
            <input type="text" id="inputLastName" class="form-control form-group" name="inputLastName" placeholder="שם משפחה"
              title="שם משפחה" [(ngModel)]="customer.lastName" required>
          </div>
        </div>
        <input type="email" id="inputEmailName" class="form-control form-group" placeholder="כתובת מייל" title="כתובת מייל"
          name="inputEmailName" [(ngModel)]="customer.email" required>
        <div class="row">
          <div class="col-md-6  col-12">
            <input type="tel" id="inputMobile" class="form-control form-group" name="inputMobile" placeholder="נייד"
              title="נייד" [(ngModel)]="customer.mobilePhone" required>
          </div>
          <div class="col-md-6  col-12">
            <input type="tel" id="inputTel" class="form-control form-group" name="inputTel" placeholder="טלפון" title="טלפון"
              [(ngModel)]="customer.telephone" required>
          </div>
        </div>

        <input type="text" id="inputCity" class="form-control form-group" placeholder="עיר" title="עיר" name="inputCity"
          [(ngModel)]="customer.city" required>

        <div class="row mx-0">
          <label for="inputRegisterDate" class="col-md-5 col-12 text-right text-md-left">תאריך הצטרפות:</label>
          <input type="text" id="inputRegisterDate" class="form-control form-group col-md-7 col-12" placeholder="תאריך הצטרפות"
            title="תאריך הצטרפות" name="inputRegisterDate" [(ngModel)]="customer.customerRegisterDate" required>
        </div>
        <div class="row mx-0">
          <label for="inputDiscountPercentage" class="col-md-5 col-12 text-right text-md-left">אחוז הנחה:</label>
          <input type="number" id="inputDiscountPercentage" class="form-control form-group col-md-7 col-12" placeholder="אחוז הנחה"
            title="אחוז הנחה" name="inputDiscountPercentage" [(ngModel)]="customer.discountPercentage"
            required>

        </div>
        <button class="btn btn-lg btn-primary btn-block col-lg-6 m-lg-auto" type="submit" (click)="editCustomer()">עדכן</button>
        <div class="mt-2"><a *ngIf="linkToList" [routerLink]="['../../view']" >חזור לרשימת הלקוחות</a></div>
      </form>
      <form>
        <h1 class="h3 mb-3 mt-5 font-weight-normal">הזן פרטי משתמש</h1>

        <!--<label for="inputUserName" class="sr-only">שם משתמש</label>-->
        <input type="text" id="inputUserName" class="form-control form-group" placeholder="שם משתמש" title="שם משתמש"
          required>
        <!--<label for="inputPassword" class="sr-only">סיסמא</label>-->
        <input type="password" id="inputPassword" class="form-control form-group" placeholder="סיסמא" title="סיסמא"
          required>


        <button class="btn btn-lg btn-primary btn-block col-lg-6 m-lg-auto" type="submit" (click)="editCustomer()">עדכן</button>
      </form>
    </div>
    <div *ngIf="!customer">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
          <path
            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <h1 class="h3 mb-3 mt-4 font-weight-normal">בחר לקוח ע"מ שתוכל לערוך את פרטיו</h1>

    </div>
  </div>
</div>
