<p>
  contact works!
</p>
<div class="container">

  <div class="form-sec col-md-6  col-sm-12 py-3 m-auto text-right">
    <h4>כתוב את פנייתך כאן:</h4>
    <form name="qryform" id="qryform" method="post" action="" onsubmit="return(validateMe());"
          novalidate="novalidate">
      <div class="form-group">
        <label>שם:</label>
        <input type="text" class="form-control" id="name" placeholder="הכנס שם" name="name">
      </div>
      <div class="form-group">
        <label>מייל:</label>
        <input type="email" class="form-control" id="email" placeholder="הכנס מייל" name="email">
      </div>

      <div class="form-group">
        <label>מס טלפון:</label>
        <input type="text" class="form-control" id="phone" placeholder="הכנס מס טלפון" name="phone">
      </div>
      <div class="form-group">
        <label>נושא:</label>
        <input type="text" class="form-control" id="subject" placeholder="נושא" name="subject">
      </div>

      <div class="form-group">
        <label>פירוט הודעה:</label>
        <textarea name="issues" class="form-control" id="iq" placeholder="פרט הודעתך" ></textarea>
      </div>


      <button type="submit" class="btn btn-default float-left" >שלח</button>
      <div class="clearfix"></div>
    </form>
  </div>


</div>
