<script src="node_modules/chart.js/src/chart.js"></script>
<div class="main-container">
  <div *ngIf="loaded"class="container-fluid">
    <div class="row">
        <div style="background-color: gold" class="col-3"></div>
        <div style="background-color:pink" class="col-9">
            <div class="row" style="background-color:darkmagenta"> מבט על - ניתוח מכירות</div>
            <div class="row">
                <div class="col-4">
                  <div style="display: block">
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [legend]="chartLegend"
              
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                  </div>
                  </div>
                 <div  class="col-4">
                  <div style="display: block">
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels" 
                                [chartType]="doughnutChartType"
                                [legend]="chartLegend"
              
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                  </div>
                 </div>
                 <div  class="col-4">
                    
                  
                  <div style="display: block">
                    <canvas baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType"
                                [legend]="chartLegend"
              
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                  </div>
                  </div>
          
            <div class="row" >
              <div  class="col">
                 <div style="display: block">
                  <canvas baseChart
                          [data]="barChartData"
                          [labels]="barChartLabels"
                          [legend]="chartLegend"
                          [options]="chartOption"
                          [chartType]="barChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
               
              </div>
             <div  class="col">
                     <div style="display: block">
                      <canvas baseChart
                              [data]="barChartData1"
                              [labels]="barChartLabels1"
                              [legend]="chartLegend"
                              [options]="chartOption"
                              [chartType]="barChartType"
                              (chartHover)="chartHovered($event)"
                              (chartClick)="chartClicked($event)"></canvas>
                    </div>
                   
                  </div></div>
        </div>
    </div>
   

</div>

</div>

 
              
                 