<script src="node_modules/chart.js/src/chart.js">
</script>
<div class="main-container">
  <div class="container-fluid">
    <div class="row" >
      <h3>ביצועי מכירות - מבט שנתי</h3> 
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label  (click)="initPriceData()" class="btn btn-secondary active">
                  <input  type="radio" name="options" id="option1" autocomplete="off" checked> לפי מחיר
                </label>
                <label (click)="initAmountData()" class="btn btn-secondary">
                  <input type="radio" name="options" id="option2" autocomplete="off"> לפי כמות
                </label>
          </div>
        
  </div>
    <div class="row">
        <div class="col-2">
        <div class="filter"><filters [titel]='"בחר שנים"' [deafult]='cy' [dataset]='years' [type]='"radio"' (onFilterChange)='onFilterChange($event,"year")'></filters>  </div>
        <div class="filter">  <filters [titel]='"בחר חודשים"' [dataset]='months' [deafult_index]='selectedMonths' [type]='"radio"' (onFilterChange)='onFilterChange($event,"month")'></filters> </div>
       </div>
     
     <div class="col-10">
           
           <div *ngIf="isDataLoaded==true">
               <div  class="row"> 
               <!-- //  (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"  -->
              <div style=" height:50%;width:100%;  display: block;">
                <canvas baseChart class="chart"
                            [datasets]="ChartAggregateMonthData"
                            [labels]="selectedMonthLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            [plugins]="lineChartPlugins" 
                          
                           ></canvas>
                </div>
            </div>
          
               <div class="row" >
              <div  class="col-6">
                <div style="display: block">
                  <canvas baseChart [datasets]="chartMonthData" [labels]="selectedMonthLabels" [options]="barChartOptions"
                   [plugins]="barChartPlugins" legend=false chartType="bar"
                    ></canvas>
                </div>             
              </div>
             <div  class="col-6">
              <div>
                
                     <!-- //  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)" -->
                  <div style="display: block">
                    <canvas baseChart [datasets]="charSumMonthData" [labels]="selectedMonthLabels" [options]="sumBarChartOptions"
                      [plugins]="barChartPlugins" legend=false chartType="bar"
                      ></canvas>
                  </div> 
                 
                
              </div>
                   
                  </div>
                </div> 
                
                




           </div>
        </div>
    </div> 
   

</div>

</div>

 
              
                 