<p>
  customer-edit works!
</p>
<div class="container col-xl-5 col-lg-7 col-md-8">
  <div class="py-5 mb-5 mt-5 p-5 shadow">
    <form>
      <h1 class="h3 mb-3 font-weight-normal">הזן פרטי לקוח</h1>

      <div class="row">
        <div class="col-md-6  col-12">
          <input type="text" id="inputFirstName" class="form-control form-group"
                 placeholder="שם פרטי" required>
        </div>
        <div class="col-md-6  col-12">
          <input type="text" id="inputLastName" class="form-control form-group"
                 placeholder="שם משפחה" required>
        </div>
      </div>
      <input type="email" id="inputEmailName" class="form-control form-group" placeholder="כתובת מייל"
             required>
      <div class="row">
        <div class="col-md-6  col-12">
          <input type="tel" id="inputMobile" class="form-control form-group"
                 placeholder="נייד" required>
        </div>
        <div class="col-md-6  col-12">
          <input type="tel" id="inputTel" class="form-control form-group"
                 placeholder="טלפון"
                 required>
        </div>
      </div>

      <input type="text" id="inputCity" class="form-control form-group" placeholder="עיר" required>
      <button class="btn btn-lg btn-primary btn-block col-lg-6 m-lg-auto" type="submit">שמור</button>

    </form>
    <form>
      <h1 class="h3 mb-3 mt-5 font-weight-normal">הזן פרטי משתמש</h1>

      <!--<label for="inputUserName" class="sr-only">שם משתמש</label>-->
      <input type="text" id="inputUserName" class="form-control form-group" placeholder="שם משתמש" required>
      <!--<label for="inputPassword" class="sr-only">סיסמא</label>-->
      <input type="password" id="inputPassword" class="form-control form-group" placeholder="סיסמא" required>


      <button class="btn btn-lg btn-primary btn-block col-lg-6 m-lg-auto" type="submit">שמור</button>
    </form>
  </div>
</div>
