header {
  background-color: #ffffff45;
//  opacity: 0.5;
  //width: 100%;
  //position: fixed;
  .dropdown-style {
    background-color: #ffffff82;

    //.direction-a-dropdown {
    //  direction: rtl !important;
    //}
  }
  .font-weight-400 {
    font-weight: 500;
  }
}
