<footer class="container ">
  <hr>
  <div class="d-flex flex-row justify-content-between pt-3">
    <p class="">
      &copy;שם החברה 2018-2019
    </p>

    <p class="">
      <span>
        <a routerLink="/contact" class="text-decoration">&nbsp; צור קשר </a>&nbsp;
        <a routerLink="/about" class="text-decoration">&middot;&nbsp; אודות </a>
      </span>
    </p>

    <p class="text-right">
      <a href="#headPage" class="arrow-up">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z"/>
        </svg>
      </a>
    </p>
  </div>
</footer>
