.my-shadow-text {
    text-shadow: 2px 2px 4px #000000;
}

.Table
{
    display: table;
    width: 75%;
    margin: 0 auto;
    border-collapse: separate;
}

.Row
{
    display: table-row;
    text-align: center;
}

.Cell
{
    display: table-cell;
}