<h1 class="my-shadow-text">מיון אתרוגים</h1>
<h3 class="mt-2">כמות התחלתית: {{startAmount}}</h3>
<h4>כמות נוכחית: {{currentAmount}}</h4>
<div class="m-auto"></div>
<div class="w-50 shadow-lg d-inline-block">
  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">כמות</th>
        <th scope="col">קטגוריה</th>
      </tr>
    </thead>
    <tbody> -->
      <!-- <tr *ngFor="let p of productsArr">
        <td class="align-middle  w-25">
          <input #amount (mouseenter)="CancelUpdateCurrentAmount(amount.value)" (mouseleave)="updateCurrentAmount(amount.value)" name='countOf' type="number" class="form-control text-right" placeholder='הכנס כמות'>
        </td>
        <td class="text-right">{{p.Name}}</td>
      </tr>
    </tbody>
  </table> -->
  <form [formGroup]="form"  (ngSubmit)="enterToDB()" class = "Table">
      <!-- <div *ngFor="let p of productsArr" class = "Row">
          <label class = "Cell" for = "Name">{{p.Name}}</label>
          <input class = "Cell" name="amount-{{i}}"  ngModel #amount="ngModel"(mouseenter)="CancelUpdateCurrentAmount(amount.value)"(mouseleave)="updateCurrentAmount(amount.value)" name='countOf' type="number" placeholder='הכנס כמות'>
      </div> -->
      <div formArrayName="products">
        <div *ngFor="let p of products.controls; index as i" [formGroupName]="i">
          <label class = "Cell" for = "Name">{{p.Name}}</label>
          <input class = "Cell" formControlName="Amount" #amount type="number" (onChange)="CancelUpdateCurrentAmount(amount.value)"(mouseleave)="updateCurrentAmount(amount.value)" placeholder='הכנס כמות'>
        </div>
      </div>
        

<!-- <div class="w-25 d-inline-block align-top px-3"> -->
    <button click="reset()" class="btn btn-lg btn-block">נקה שדות</button>
  <button type="submit" class="btn btn-lg btn-primary btn-block">הכנס למלאי</button>
  
<!-- </div> -->
</form>
<!-- </div>
<div class="px-3">
    <button  class="w-25 btn btn-lg btn-primary m-2">הכנס למלאי</button>
    <button  class="w-25 btn btn-lg m-2">נקה שדות</button>
  </div> -->