<app-layout-header></app-layout-header>
<!--<div class="jumbotron">-->
  <!--<h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>-->
  <!--<p>-->
    <!--In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!-->
  <!--</p>-->
<!--</div>-->
<router-outlet></router-outlet>

<app-layout-footer></app-layout-footer>


<!--<div class="back-to-top-wrapper" id="back_top">-->
  <!--<a href="#top" data-scroll="#top" class="back-to-top" title="Back to top">-->
    <!--<svg viewBox="0 0 100 100" width="25px" height="25px" tabindex="-1" role="img" aria-labelledby="title">-->
      <!--<title id="title">Back to top</title>-->
      <!--<path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" transform="translate(0 0) rotate(90 50 50)"-->
            <!--fill="#fff" stroke="#fff"></path>-->
      <!--<image src="https://www.freeiconspng.com/uploads/arrow-icon&#45;&#45;myiconfinder-23.png" alt="Back to top arrow" xlink:href="" width="100%"-->
             <!--height="100%"></image>-->
    <!--</svg>-->
  <!--</a>-->
<!--</div>-->
