<div class="container col-xl-5 col-lg-7 col-md-8">
  <div class="py-5 my-4 p-5 shadow">
    <div *ngIf="customer">
      <form>
        <h1 class="h3 mb-3 font-weight-normal">האם אתה בטוח כי ברצונך למחוק לקוח?</h1>
        <h3>שפרטיו:</h3>
        <div class="row">
          <p *ngIf="customer.FirstName || customer.LastName"><span>שם:</span> {{customer.FirstName +" " +customer.LastName }} </p>
          <p *ngIf="customer.MobilePhone"><span>נייד:</span> {{customer.MobilePhone }} </p>
          <p *ngIf="customer.Telephone"><span>טלפון:</span> {{customer.Telephone }} </p>
          <p *ngIf="customer.Email"><span>כתובת מייל:</span> {{customer.Email }} </p>
          <p *ngIf="customer.City"><span>עיר מגורים:</span> {{customer.City }} </p>
        </div>
        <!-- TODO like component details-->

        <p class="mb-3 font-weight-normal text-danger shadow-delete">
          שים לב כי בהסרת לקוח זה מן במערכת ימחקו כל הפרטים הנוגעים ללקוח זה (הזמנות וכו)
        </p>
        <div class="flex-row d-flex justify-content-center ">
          <button class="btn btn-lg btn-danger ml-4" (click)="deleteCustomer()">למחוק</button>
          <button class="btn btn-lg btn-secondary" [routerLink]="['../../view']" >השאר</button>
        </div>
      </form>
    </div>
  </div>
</div>
