<p> customer work!</p>
<!--<div-->
<!--class="d-flex flex-column flex-md-row-reverse align-items-center p-3 px-md-4 border-bottom shadow-sm">-->
<!--&lt;!&ndash;bg-white&ndash;&gt;-->
<!--<nav class="d-md-table my-2 my-md-0 navbar-expand-sm">-->
<!--<div role="navigation">-->
<!--<ul class="navbar-nav flex-row-reverse" *ngIf="routes">-->
<!--&lt;!&ndash;TODO supposed to get array of routes depending on auth&ndash;&gt;-->
<!--<ng-container *ngFor="let route of routes">-->
<!--<li class="nav-item" *ngIf="route.data.atNavBar">-->
<!--<a class="p-2 text-primary font-weight-400 nav-link text-right"-->
<!--[routerLink]="route.path">{{route.data.name}}</a>-->
<!--</li>-->
<!--</ng-container>-->
<!--</ul>-->
<!--</div>-->
<!--</nav>-->
<!--</div>-->

<nav id="mainnav">
  <ul *ngIf="routes" style="list-style: none;">
    <ng-container *ngFor="let route of routes">
      <li *ngIf="route.data.atNavBar">
        <a [routerLink]="route.path">{{route.data.name}}</a>
      </li>
    </ng-container>
  </ul>
</nav>

<router-outlet></router-outlet>

<!--<nav aria-label="weather navigation links" class="mat-primary mat-tab-nav-bar" md-tab-nav-bar="">-->
<!--<div class="mat-tab-links">-->
<!--<ng-container *ngFor="let route of routes; let i = index">-->

<!--<a *ngIf="route.data.atNavBar" [routerLink]="route.path"-->
<!--class="mat-tab-link" md-tab-link="" href="/catalog/list" aria-disabled="false"-->
<!--tabindex="0">{{route.data.name}}</a>-->
<!--</ng-container>-->
<!--<hr class="mat-ink-bar" style="visibility: visible; left: 590px; width: 160px;">-->
<!--</div>-->
<!--</nav>-->
