<!--<p><a href="https://bootsnipp.com/snippets/92md4">one ///////</a><a href="https://bootsnipp.com/snippets/aMWKk">two</a></p>-->

<div class="shadow row"  dir="rtl">

  <div class="col-md-12 text-center">
    <h4>לקוחות</h4>

    <form class="form-inline" >
      <input class="form-control mx-sm-auto mr-md-2 my-2 col-xl-3" type="search" placeholder="חפש משהו כאן..." aria-label="Search" (input)="searchText($event.target.value)" >
      <!-- <button class="btn btn-outline-success  col-2" type="submit">חפש</button> -->
    </form>

    <div class="table-responsive">

      <table id="mytable" class="table table-bordred table-striped">

        <thead>
        <!--<th><input type="checkbox" id="checkall"/></th>-->
        <th> </th>
        <th> </th>

        <th>שם פרטי</th>
        <th>שם משפחה</th>
        <th>אימייל</th>
        <th>פלאפון</th>
        </thead>
        <tbody *ngIf="customersList&&customersList.length>0">

        <tr *ngFor="let customer of customersList;" [routerLink]="['../details', customer.id]">
          <!--<td><input type="checkbox"/></td>-->
          <td [routerLink]="['../edit', customer.customerId]" class="px-sm-1 px-3" >

            <button class="btn border-0 p-0 bg-transparent" data-title="Edit" data-toggle="modal" data-target="#edit" data-placement="top"
                    data-toggle="tooltip" title="עדכן">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
            </button>
          </td>
          <td [routerLink]="['../delete', customer.customerId]" class="px-sm-1 px-3">
            <a class="btn border-0 p-0 bg-transparent" data-placement="top" data-toggle="tooltip" title="מחיקה"
                    data-title="Delete" data-toggle="modal" data-target="#delete">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"/>
                <path fill="none" d="M0 0h24v24H0V0z"/>
              </svg>
            </a>
          </td>

          <td>{{customer.firstName }}</td>
          <td>{{customer.lastName }}</td>
          <td>{{customer.email }}</td>
          <td>{{customer.mobilePhone }}</td>
        </tr>

        </tbody>

      </table>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
