.row .product-thumbnail{
  margin-bottom: 2rem;
}
/** Media queries **/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .row {
    margin-right: -15px;
    margin-left: -70px;
  }
}
