<h1 class="mt-3">עגלת קניות</h1>
<ng-container *ngIf="cart">
  <ng-container *ngIf="cart.numProducts > 0; else noCart">
    <div class="row text-right">
      <div class="col-12">
        <button class="btn btn-primary mr-2 my-1" (click)="clearAll()">רוקן עגלה</button>
        <a class="btn btn-outline-primary mr-2 my-1">להזמנה</a>
        <p class="text-primary d-inline-block mr-2 my-1">יש לך {{cart.numProducts}} פריטים בעגלה</p>
      </div>
    </div>
    <div class="row">
      <table class="table text-right">
        <thead>
          <tr>
            <th></th>
            <th class="text-right">מוצר</th>
            <th class="text-right" style="width:25%">כמות</th>
            <th class="text-right">מחיר</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.products">
            <td>
              <!-- <button class="btn btn-outline-secondary m-1 px-2 px-2">+</button>
              <button class="btn btn-outline-secondary m-1 px-2 px-2">-</button> -->
              <!-- <span class="w-50"><button class="btn btn-outline-secondary mx-1 py-1 px-2">+</button></span>
              <span class="w-50"><button class="btn btn-outline-secondary mx-1 py-1 px-2">-</button></span> -->
              <div class="w-50 d-inline-block p-1"><button class="btn btn-outline-secondary mx-1 py-1 px-2 w-100" (click)='addOneMoreProduct()'>+</button></div>
              <div class="w-50 d-inline-block p-1"><button class="btn btn-outline-secondary mx-1 py-1 px-2 w-100" (click)='removeOneProduct()'>-</button></div>
              <!-- <div class="thumbnail" [style.backgroundImage]="'url('+ item.imageUrl +')'"></div> -->
            </td>
            <td>{{item}}</td>
            <td>
              כמות
              <!-- <product-quantity [product]="item" [shopping-cart]="cart" [msg]="null"></product-quantity> -->
            </td>
            <td>
              מחיר
              <!-- {{item.price | currency:'USD':true }}</td> -->
          </tr>
        </tbody>
        <tfoot>
          <tr class="table-secondary">
            <th colspan="2" class="px-4">מחיר סופי: </th>
            <th></th>
            <th class="text-right px-4">{{cart.cartTotal | currency:'USD':true}}</th>
          </tr>
        </tfoot>
      </table>

    </div>
    <div class="my-2 float-left ">
        <button class="btn btn-primary mr-2" (click)="clearAll()">רוקן עגלה</button>
        <a class="btn btn-outline-primary mx-2">להזמנה</a>
    </div>
    <div class="clearfix"></div>
  </ng-container>

</ng-container>



<ng-template #noCart>
  <p>איו לך פריטים בעגלה</p>

</ng-template>