.circle {
  background-color: ghostwhite;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  box-shadow: 1px 0px 5px 0px black;
}

.arrow-up {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: 0px;
  left: 8px;
  bottom: 8px;
}
