<div class="pt-3 text-white wrapper-home pt-lg-4">
  <div class="container">
    <h1 class="display-3 mainTitle">בחגיך</h1>
    <p>אודות החברה ת מה היא עושה ת מה הפעילות וכו וכו בלה בלה בלה כמה שיותר אינפורמציה אבל בגבול וכו וכו וכו וכו וכו
      וכככככו לתת אינפורמציה ע"י משתנה במערך שיכיל גם מידע על הפעילות בסוכות וגם מידע על הפעילות בפסח </p>
    <p><a class="col-lg-4 col-md-5 btn btn-lg btn-primary py-3 my-xl-3" routerLink="/login" role="button">כניסה לחשבון שלי</a></p>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-md-4 col-home pt-3 pb-3 pb-md-0">
        <h2 class="h3 text-shadow">בצע הזמנה</h2>
        <p>תמיד תוכל לבצע הזמנה
          <br>
          אין צורך ברישום!
          <br>
          פשוט התחל בקניה.
          <br>
          וזכור אצלינו תוכל למצוא את כל סוגי המינים והכשרויות - הנעשות תחת הקפדה על שירות וחווית לקוח גם לאחר הקניה.
          <br>
          חג שמח!
        </p>
        <p><a class="btn btn-secondary" routerLink="/shopping/products" role="button">בצע הזמנה&nbsp;&raquo;</a></p>
      </div>
      <div class="col-md-4 col-home pt-3 pb-md-3">
        <h2 class="h3 text-shadow">לקוח? פתח חשבון חינם!</h2>
        <p>בחשבון זה תוכל לצפות בהזמנותיך ובמסמכים שונים. תוכלו גם לבצע הזמנותיכם דרך האתר ולהיות מעודכנים בפעילותיכם
          השוטפת בחברה.
          <br> לא משכנע?! אז קבלו את זה - גרפים יעודיים נבנו במיוחד עבורכם - בהם תוכלו לצפות בסטטיסטיקה על פני שנים
          ותקופות, ועל פי פרמטרים מתאימים. תהנו!
        </p>
        <p><a class="btn btn-secondary" routerLink="/register" role="button">פתח חשבון חינם!&nbsp;&raquo;</a></p>
      </div>
      <div class="col-md-4 col-home pt-3 pb-md-3">
        <h2 class="h3 text-shadow">צור קשר</h2>
        <p>תמיד תזכור!
          <br>
          אנחנו תמיד כאן כדי לעזור!
          נתקלת בבעיה? אתה לא יודע מה לעשות? איך לפתור?
          <br>
          שלח בקשה ויחזרו אליך בהקדם
        </p>
        <p><a class="btn btn-secondary" routerLink="/contact" role="button">שלח בקשה&nbsp;&raquo;</a></p>
      </div>
    </div>

  </div> <!-- /container -->

</div>

