<div class="row container mx-auto mt-3">

  <div class="col-12">
    <button class="btn btn-lg btn-secondary my-2"
            [routerLink]="[currentUser.isCustomer()? '/shopping/myorders':'/reports/all-sales-orders']">לכל ההזמנות
    </button>

    <ng-container *ngIf="order && order.SaleOrderProducts" ; else notFound>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">פרטי ההזמנה</h4>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span
                  class="font-weight-bold">שם הלקוח:</span> {{order.Customer.FirstName + " " + order.Customer.LastName}}
            </li>
            <li class="list-group-item">
              <span class="font-weight-bold">תאריך ההזמנה:</span> {{order.Date | date: 'dd/MM/yyyy'}}
            </li>
            <li class="list-group-item"><span class="font-weight-bold">מוצרים:</span>
              <div>
                <ul class="list-group list-group-flush" *ngIf="order.SaleOrderProducts.length > 0">
                  <li class="list-group-item">
                    <table dir="rtl" class="table table-bordred table-striped">
                      <thead>

                      <tr>
                        <th></th>
                        <th>כמות</th>
                        <th>מחיר מכירה</th>
                        <th>אחוז הנחה</th>
                        <th>לאחר הנחה</th>
                        <th>סה"כ</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr
                        *ngFor="let item of order.SaleOrderProducts ;">
                        <td>{{item.Product.Name}}</td>
                        <td>{{item.Amount}}</td>
                        <td>{{item.Product.SellingPrice}} ש"ח</td>
                        <td>{{order.Customer.DiscountPercentage + "%"}}</td>

                        <td>{{ item.Product.SellingPrice * (100 - order.Customer.DiscountPercentage) / 100 }}  ש"ח</td>
                        <td>{{ item.Product.SellingPrice * item.Amount * order.Customer.DiscountPercentage / 100}}
                          ש"ח
                        </td>
                      </tr>
                      </tbody>
                      <tfoot>
                      <tr>
                        <td colspan="4"></td>
                        <th>סה"כ:</th>
                        <td> {{totalSum}} ש"ח</td>
                      </tr>
                      </tfoot>
                    </table>
                  </li>
                </ul>
              </div>
            </li>
            <li class="list-group-item"><span class="font-weight-bold">כתובת למשלוח:</span>
              <div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"> שם : {{order.Customer.FirstName + " " + order.Customer.LastName}}</li>
                  <li class="list-group-item"> מייל : {{order.Customer.Email}}</li>
                  <li class="list-group-item"> פלאפון : {{order.Customer.MobilePhone}}</li>
                  <li class="list-group-item"> עיר : {{order.Customer.City}}</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <ng-template #notFound>
      אופס! פרטים לא נמצאו
    </ng-template>
  </div>
</div>
