.icon {
  position: absolute;
  top: 15px;
  right: 20px
}
.title_name {
  margin-right: 35px
}
.navbar, .navbar * {
  text-align: right;
}

.navbar ul {
  padding-inline-start: 0px;
}

.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
  text-decoration: none;
}

.navbar .dropdown-item, .navbar .dropdown-item {

  &:focus, &:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }
}

.dropdown-toggle::after {
  margin-left: 0;
  margin-right: .255em;
}

.navbar-brand {
  margin-right: 0rem;
  margin-left: 1rem;
}
.userName {
  color: yellow !important;
}
